/* /BODY/ */
.grid-container {
  display: flex;
  justify-content: space-evenly;
  height: 350px;
  margin-top: 50px;
}

.grid-item {
  margin-left: 100px;
}


.head {
  margin-right: 100px;
}

.text {
  
}

h1 {
  font-size: 60px;
  font-family: 'Poppins', sans-serif;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  height: 600px;
  /* width: 800px; */
  align-content: center;
  margin: auto;


}

.grid-item-3 {
  align-content: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}

/* /NAV/ */
li, a, button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  background-color: yellow;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 10px;
  background-color: yellow;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 0px 0px 10px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

/* /FOOTER/ */

footer {
  background: yellow;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

footer p {
  background: yellow;
  font-size: 15px;
}

.footer__links {
  list-style: none;
  background-color: yellow;
  text-align: center;
}

.footer__links li {
  display: inline-block;
  padding-bottom: 10px;
  padding-right: 20px;
}

.footer__links li a {
  color: black;
}
